name: ci
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4  # Updated to v4
      - uses: actions/setup-python@v5  # Updated to v5
        with:
          python-version: 3.x
      - uses: actions/cache@v4  # Updated to v4
        with:
          path: ~/.cache/pip  # Cache pip dependencies
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}  # Key based on OS and requirements
          restore-keys: |
            ${{ runner.os }}-pip-  # Fallback for partial matches
      - run: pip install mkdocs-material
      - run: pip install pillow cairosvg
      - run: mkdocs gh-deploy --force